<div class="h-full w-full bg-slate-200">
  <div class="flex flex-col h-full pt-16 mx-auto justify-between">
    <div class="flex flex-col w-full items-end gap-2 pr-4">
      <div *ngFor="let chat of chats" class="p-4 bg-white rounded-md">
        <span class="text-lg">{{ chat.message }}</span>
      </div>
    </div>
    <div class="flex gap-2 m-4 mb-0 items-center">
      <mat-form-field class="w-full" appearance="outline">
        <input type="text" matInput #msgInput name="msgInput" />
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        class="px-2"
        (click)="onSend(msgInput.value)"
      >
        Send
      </button>
    </div>
  </div>
</div>
